/* Import fonts first (must be at top!) */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root theme variables */
:root {
  --accent-dark: #733ad1;
  --accent-mid: #8443e5;
  --primary: #9c5ef1;

  --neutral-dark: #101828;
  --neutral-light: #f9fafb;

  --background: var(--neutral-light);
  --foreground: var(--neutral-dark);
}

/* Dark mode */
.dark {
  --background: var(--neutral-dark);
  --foreground: var(--neutral-light);
}

/* Global body styling */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-lexend;
}
